body{
    background-color: #ffd3eb;
}

.container{
    margin-top: 50px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-wrapper{
padding: 20px;
border: 5px solid black;
background-color:skyblue;
width: max-content

}

#product-form{
    padding: 10px;
}

label{
    color: gray;
}

.form-buttons{
    display: flex;
    justify-content: center;
}

.btn-submit{
    background-color: blue;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 8px;
    margin-right: 5px;
    
}


.btn-reset{
    background-color: rgba(255, 0, 0, 0.63);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 8px;
    
}

ul{
    list-style-type: none;
}

table,th{
    border: 1px solid gray;
}

th{
    padding: 15px;
}

td{
    padding: 15px;
    margin: 5px;
    color: gray;
    border:1px solid gray
}

.btn-edit{
    background-color: rgb(135, 173, 235);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 7px;
    

}

.btn-delete{
    background-color: rgba(255, 0, 0, 0.63);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 7px;
    
}



.btn-add{
    background-color: rgb(135, 173, 235);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 7px;
    margin-left: 30px;
    
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
